<div class="contents row">
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweet", locals: { tweet: tweet } %>  <!-- partial（パーシャル）オプション・・・部分テンプレート名を指定することで、該当する部分テンプレートを表示できる -->
  <% end %>                                                   <!-- localsオプション・・・renderメソッドで使用できるオプション。部分テンプレート内でその変数を使うことができるようになる。 -->
</div>